<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove" />

    <application
        android:name=".MeterApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Мои счётчики"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoiSchetschiki">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".AppUnlockActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity android:name=".V07MainActivity" android:exported="false" />
        <activity android:name=".V010MainActivity" android:exported="false" />
        <activity android:name=".V011MainActivity" android:exported="false" />
        <activity android:name=".V012MainActivity" android:exported="false" />
        <activity android:name=".V013MainActivity" android:exported="false" />
        <activity android:name=".V11MainActivity" android:exported="false" />
        <activity android:name=".V13MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>